.mobheader {
  display: none;
}

.userinfo-bottom {
  display: none;
}

.news-desctop {
  /* display: none; */
}

@media screen and (max-width: 780px) {

  #social-footer {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  #soc-t {
    padding-top: 0px;
  }

  .desctop {
    display: none;
  }
  .row {
    margin: 0px !important;
    padding: 0px !important;
  }
  .col,
  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-auto,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    padding: 0px !important;
  }
  .wp-block-embed__wrapper {
    width: 100% !important;
  }
  .mobheader {
    width: 100%;
    margin: 0px !important;
    display: block;
    background: #fff;
    box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.1);
  }
  #sidebar-left {
      display:none;
  }
  #sidebar {
    display: none;
  }
  .thb-social-footer-buttons {
   padding: 10px !important;
   flex-wrap: wrap;
   width: 100%;
  }

  .social-button-holder {
    padding: 3px !important;
    text-align: center;
    width: 120px;
  }

  .popular-image {
    height: 200px !important;
  }

  .social {
    height: 55px !important;
    padding: 0 12px !important;
  }

  .mobnav {
    width: 10%;
  }
  .mobnav i {
    font-size: 22px;
    margin: 3px 0 0 25px;
  }
  .moblogo {
    width: 80%;
    text-align: center;
  }
  .moblogo img {
    width: 30%;
    height: auto;
    margin-top: 3px;
  }
  .mobsearch {
    width: 10%;
    text-align: center;
  }
  .mobsearch ul li {
    padding: 5px 5px 0px 0px;
    text-align: right;
  }


  .mobsearch ul li i {
    color: #000;
    font-size: 20px;
    margin: 0px 20px 0 0px;
  }
  .mobsearch ul li i:hover {
    color: #ED3A53;
  }
  .s-box {
    background: #fff !important;
    width: 100% !important;
    padding: 8px 60px 8px 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
  }
  .s-input {
    float: left;
    width: 80% !important;
  }
  .s-button {
    text-align: right;
  }
  #search {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 60px;
    background-color: #fff;
    z-index: 10000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
  }
  #search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
  }
  #search input[type="search"] {
    color: #333;
    background: #fff !important;
    width: 100% !important;
    font-size: 16px !important;
    padding: 10px 20px;
    font-weight: 300;
    text-align: left;
    outline: none;
    border-radius: 0px !important;
  }
  #search .btn {
    font-family: "BPG Mrgvlovani Caps", sans-serif !important;
    font-size: 14px;
    background: linear-gradient(90deg, #EE4D34, #DE3B75);
    color: #fff;
    font-weight: bold;
    border-radius: 50px !important;
    padding: 14px 16px 11px 16px !important;
  }
  #search .close {
    position: fixed;
    top: 23px;
    right: 10px !important;
    color: #fff;
    opacity: 1;
    font-size: 24px;
    height: 30px;
    width: 30px;
    background-image: url(imgs/close.png);
    background-repeat: no-repeat;
  }
  /*NAVIGATION*/
  .nav-top {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 10px 0px;
    width: 100%;
    height: 60px;
    background-color: #fff;
  }
  .nav-top .hamburger {
    cursor: pointer;
  }
  .hamburger i {
    color: #000;
  }
  .nav-drill {
    margin-top: 60px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .nav-is-toggled .nav-drill {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .nav-is-toggled::after {
    opacity: 1;
    visibility: visible;
  }
  .nav-drill {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #F1F3F5;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: ;
    transition: 0.45s;
  }
  .nav-drill ul {}
  .nav-drill ul li {
    display: list-item;
    border-right: 0px !important;
    border-bottom: solid 1px #fff !important;
    text-align: left;
    padding: 0 0 15px 25px;
    width: 100% !important;
  }
  .mobsocial {
    text-align: left;
    padding: 15px;
  }
  .mobsocial span {
    padding: 0px 0px 0px 10px;
  }
  .mobsocial span.facebook a i {
    padding: 10px 15px;
  }
  .mobsocial span.instagram a i {
    padding: 10px 12px;
  }
  .mobsocial span.linkedin a i {
    padding: 10px 12px;
  }
  .mobsocial span.youtube a i {
    padding: 10px 9px;
  }
  .mobsocial span a i {
    color: #fff;
    font-size: 22px;
    background: linear-gradient(90deg, #EE4D34, #DE3B75);
    border-radius: 100px;
  }
  .mobsocial span a i:hover {
    color: #fff;
  }
  .fullwith-original {
    padding-top: 60px !important;
  }
  .scroll-back-to-top-wrapper {
    display: none !important;
  }
  /*HOME*/
  .lefttbox {
    display: none;
  }
  .rightbox {
    display: none;
  } 
  .read-more-button {
    position: relative;
    top: -25px;
    left: 10px;
  }
  .cinfo {
    width: 90%;
    display: none !important;
  }
  #category-card {
    margin-bottom: 0 !important;
    margin: 0px 10px;
  }
  .fullwith-slider {
     padding: 100px 0 20px 0 !important; 
  }
  .cycloneslider-template-default {
    height: 400px !important;
  }
  .news-desctop {
    /* display: block; */
  }
  .title-p {
    text-align: left;
    padding: 0 0 20px 25px !important;
    margin: 0;
  }
  .tcard {
    /* margin-bottom: 20px; */
    /* background: #fff; */
    /* height: auto !important; */
    /* border-bottom: solid 2px #EAEDEC; */
  }
  .tcard h1 {
    margin: 0px 20px 20px;
    line-height: 1.4;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    height: auto !important;
  }
  .cycloneslider-template-default .cycloneslider-caption {
    width: 100%;
    z-index: 9999;
    background: #fff !important;
    color: #222 !important;
    text-align: left;
    height: 120px !important;
    width: 100% !important;
    margin: auto;
    position: relative;
    bottom: 0px !important;
  }
  .cycloneslider-template-default .cycloneslider-caption-title {
    padding: 20px 50px 5px 50px;
    font-size: 14px !important;
    line-height: 1.4;
    margin-bottom: 0;
    font-family: "BPG Mrgvlovani Caps", sans-serif !important;
    font-weight: normal !important;
  }
  .fullwith-original {
  width: 100% !important;
  background: #fbfbfb;
  margin: 0px !important;
  padding: 30px 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .tcard {
    /* margin-bottom: 20px !important; */
    /* background: #fff; */
    /* height: auto !important; */
    /* border-bottom: solid 2px #EAEDEC; */
    /* width: 94%; */
    margin: 0px 24px;
    margin-bottom: 75px !important;
  }
  .tcard:hover {
    /* opacity: 0.7; */
    transition: opacity border-bottom 0.5s linear;
    /* border-bottom: solid 2px #EAEDEC; */
  }
  .tcard h1 {
    margin: 0px 20px 20px !important;
    line-height: 1.4;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical;
  }
  /*SINGLE*/
  .first-section {
    margin-top: 0px !important;
    padding-top: 90px !important;
  }
  .stitle {
    font-size: 18px !important;
    font-family: "BPG Mrgvlovani Caps", sans-serif !important;
    color: #333;
    letter-spacing: -1px;
    font-weight: bold;
    padding: 0 30px;
  }
  .stext p {
    margin-bottom: 20px;
    /*padding: 0 30px;*/
    color: #333;
    font-size: 13px !important;
    font-family: "BPG Mrgvlovani", sans-serif !important;
    line-height: 1.7;
    letter-spacing: -0.5px;
  }
  .stext a {
    font-size: 14px !important;
    color: #045BD0;
  }
  .stext-bg {
    background: #fff;
    padding: 40px 0px 50px 0px !important;
  }
  .userinfo-top {
    display: none;
  }
  .userinfo-bottom {
    display: block;
    padding: 0 10px;
  }
  .ssocialshare-top {
    display: none;
  }
  .ssocialshare {
    padding: 0 10px;
  }
  .col-lg-3.col-sm-12 {
  display: none;
} 

  .sinfo {
    border-bottom: solid 0px #e1e1e1;
    margin-top: 0px;
    padding: 10px 30px 15px 30px !important;
  }
  .tags {
    padding: 20px 10px 20px 10px !important;
    border-top: solid 1px #F1F3F5;
    margin-top: 30px;
  }
  .stext-bg {
    background: #fff;
    padding: 40px 0px 0px 0px !important;
  }
  .stext ul li,
  ol li,
  ul li ul li,
  ol li ol li {
    margin-bottom: 10px;
    font-size: 14px !important;
  }
  .relatedpostsfullwith {
    background: #fff !important;
    margin-top: 10px !important;
  }
  .relatedposts-title-p {
    text-align: center;
    padding: 40px 0 !important;
  }
  .related-card {
    margin-bottom: 50px !important;
    background: #fff;
    height: auto !important;
    border-bottom: solid 0px #EAEDEC !important;
    box-shadow: 3px 4px 15px 1px rgba(0, 0, 0, 0) !important;
  }
  .fullwith-original-cat {
    background: #fff !important;
  }
  .ccard {
    margin-bottom: 40px;
    background: #fff;
    height: auto !important;
    border-bottom: solid 0px #EAEDEC !important;
  }
  .ccard:hover {
    opacity: 0.7;
    transition: opacity border-bottom 0.5s linear;
    border-bottom: solid 0px #ED3A53 !important;
  }
  footer {
    padding: 30px 30px 0px 30px;
  }
  .fbox {
    /*display: none;*/
  }
  .sepert {
    display: none !important;
  }
  .copyright span {
    color: #616161;
    margin: 0 5px 5px 5px !important;
    display: list-item;
    list-style: none;
  }
  .wp-paginate {
    margin-top: 20px !important;
  }
  .share-facebook {
    background: #3b5998;
  }
  .share-facebook i {
    color: #fff;
    font-size: 10px !important;
  }
  .share-facebook span {
    color: #fff;
  }
  .share-linkedin {
    background: #0077B5;
  }
  .share-linkedin i {
    color: #fff;
    font-size: 10px !important;
  }
  .share-linkedin span {
    color: #fff;
  }
  .share-twitter {
    background: #1da1f2;
  }
  .share-twitter i {
    color: #fff;
    font-size: 10px !important;
  }
  .share-twitter span {
    color: #fff;
  }
  .share-pinterest {
    background: #b5071a;
  }
  .share-pinterest i {
    color: #fff;
    font-size: 10px !important;
  }
  .share-pinterest span {
    color: #fff;
  }
  .header-logo {
    display: none;
  }
  .read-more-area {
    margin-top: 0px !important;
  }
  .video-box {
    width: 94%;
    margin: 10px 24px;
  }
  .left-video-box {
    margin: 1px 30px;
    width: 94% !important;
  }
  .col-md-2 {
    flex: 0 0 10% !important;
    max-width: 16% !important;
  }
  .social-footer {
    display: flex !important;
    justify-content: center !important;
    margin-left: 65px;
  }
  .fbox img {
    margin-top: -25px;
    width: 80px !important;
  }

  .konstributor {
    display: none;
  }
  .popular-box {
    width: 90% !important;
    margin: 0px 20px;
  }
  #post-author {
    display: block !important;
  }
}

.relpost-block-container  p{
  font-family: "BPG Mrgvlovani", sans-serif !important;
  border: 1px solid #efefef;
  background: #ffffff;
  display: flex;
  justify-content: center;
  width: 106px;
  padding: 1px;
  position: relative;
  left: 131px;
  height: 23px;
  border-radius: 2px;
  font-size: 12px !important;
  top: -12px;
  margin: 0;
  padding: 2px;
  margin-bottom: 0 !important;
}


}


