@font-face {
  font-family: 'cubanoregular';
  src: url('cubano-regular-webfont.html') format('woff2'), url('fonts/cubano-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'BPG Mrgvlovani Caps';
src: url('bpg-mrgvlovani-caps-webfont.eot'); /* IE9 Compat Modes */
src: url('bpg-mrgvlovani-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	 url('bpg-mrgvlovani-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	 url('bpg-mrgvlovani-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	 url('bpg-mrgvlovani-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	 url('bpg-mrgvlovani-caps-webfont.svg#bpg_mrgvlovani_capsregular') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'BPG Mrgvlovani';
src: url('bpg-mrgvlovani-webfont.eot'); /* IE9 Compat Modes */
src: url('bpg-mrgvlovani-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	 url('bpg-mrgvlovani-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	 url('bpg-mrgvlovani-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	 url('bpg-mrgvlovani-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	 url('bpg-mrgvlovani-webfont.svg#bpg_mrgvlovaniregular') format('svg'); /* Legacy iOS */
}

@font-face{
  font-family:'FontLarisome';
  src:url('font-larisome-webfont.eot');
  src:url('font-larisome-webfont.eot?#iefix')format('embedded-opentype'),
  url('font-larisome-webfont.woff2')format('woff2'),
  url('font-larisome-webfont.woff')format('woff'),
  url('font-larisome-webfont.ttf')format('truetype'),
  url('font-larisome-webfont.svg#_bpg_gelregular')format('svg');
  font-weight:400;font-style:normal}.lari{display:inline-block;font:normal normal normal 14px/1 FontLarisome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}.lari-a:before,.lari-normal:before{content:'a'}.lari-b:before,.lari-bold:before{content:'b'}.lari-bolder:before,.lari-c:before{content:'c'}.lari-d:before,.lari-narrow-sans:before{content:'d'}.lari-e:before,.lari-narrow-serif:before{content:'e'}.lari-f:before,.lari-thin-sans:before{content:'f'}.lari-g:before,.lari-thin-serif:before{content:'g'}.lari-h:before,.lari-serif:before{content:'h'}.lari-i:before,.lari-sans:before{content:'i'}.lari-j:before,.lari-narrow-sans-bold:before{content:'j'}.lari-k:before,.lari-narrow-sans-thin:before{content:'k'}.lari-comic:before,.lari-l:before,.lari-wtf:before{content:'l'}.lari-m:before,.lari-square-round:before{content:'m'}.lari-n:before,.lari-square-plain:before{content:'n'}.lari-o:before,.lari-square-narrow-plain:before{content:'o'}.lari-p:before,.lari-square-narrow:before{content:'p'}
