/*
Theme Name: TADAA
Theme URI: http://tadaa.ge
Author: Valeri Zirakashvili
Author URI: https://www.linkedin.com/zirakashvili
Description: Digital News Portal
Version: 1.0
License: Seenet V1
License URI: http://seenet.ge
Tags: Digital, Design, Inspiration, Motivation, Startegy
Text Domain: tadaa
*/

@import "assets/css/mobile.css";
@import "assets/fonts/fonts.css";
@import "assets/fonts/all.css";

a:hover {
  text-decoration: none !important;
}

@media (min-width: 1281px) {
  .nav ul li a {
    font-size: 15px !important;
  }
  .fullwith-slider {
    padding: 30px 0 40px 20px !important;
  }
  .fullwith-original {
    padding: 30px 0 40px 20px !important;
  }
  .fullwith-original-cat {
    padding: 0px 20px 0px 20px !important;
  }
  .lefttbox-card h1 a {
    line-height: 17px;
  }

   .singlewrap img {
		width: 100% !important;
	}
@media (min-width: 1281px) {

  .singlewrap img {
    width: 98% !important;
  }
}
  .side-title {
    font-size: 10.9px !important;
  }
}

.last-news-meta h2 {
  font-size: 15px;
}

.lefttbox-card h1 {
  font-size: 0;
}

.tcard h1 {
  font-size: 0;
}

.uptxt {
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
}

:hover {
  transition: 0.2s linear;
}

.clear {
  float: none;
}

.margintop {
  margin-top: 40px;
}

.marginbottom {
  margin-bottom: 50px;
}

.hbps-responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

.hbps-responsive-video iframe,
.hbps-responsive-video object,
.hbps-responsive-video embed,
.hbps-responsive-video video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.fb-comments,
.fb-comments span,
.fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}

body.homepage {
  font-size: 14px;
  line-height: 1.8;
  font-family: "BPG Mrgvlovani", sans-serif;
  vertical-align: baseline;
  background-color: #fbfbfb;
  color: #333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.postpage {
  font-size: 14px;
  line-height: 1.8;
  font-family: "BPG Mrgvlovani", sans-serif;
  vertical-align: baseline;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #045BD0;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

header {
  background: #fff;
  margin-bottom: 0px;
  /* box-shadow: 4px 10px 8px 1px rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid #3333336e;
}

.logo img {
  height: auto;
  max-width: 90px;
  width: 100%;
  margin-top: 20px;
}

.first-section {
  margin-top: 50px;
}


.social ul {
}

.social ul li {
  list-style: none;
  display: inline-block;
  padding: 22px 20px 0px 0px;
}

.social ul li a i {
  color: #333;
  font-size: 17px;
}
.social ul li a {
	vertical-align: sub;
}
.social ul li a i:hover {
  color: #ED3A53;
}

.navigation {}

nav {
  text-align: center;
}

nav ul {
  padding-inline-start: 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 2% 0px 1%;
  margin: 22px 0px 3px 0px;
  /* border-right: solid 1px #E4E6E5; */
  font-weight: bold;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
}

nav ul li a:hover {
  color: #000;
  text-decoration: none;
}

.search {
  border-left: solid 1px #E4E6E5;
}

.search ul li {
  padding: 21px 0px 0px 0px;
  text-align: center;
}

.search ul li i {
  color: #333;
  font-size: 20px;
}

.search ul li i:hover {
  color: #ED3A53;
}

.s-box {
  background: #F1F3F5;
  width: 50%;
  padding-bottom: 0px;
  margin: 10px 25% 0 25%;
  border-radius: 50px;
}

.s-input {
  float: left;
}

.s-button {
  text-align: right;
}

#search {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 10000;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  color: #333;
  background: #F1F3F5;
  width: 480px;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300;
  text-align: left;
  border: solid 0px #E5E5E5;
  border-radius: 50px;
  outline: none;
}

#search .btn {
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 14px;
  background: linear-gradient(90deg, #EE4D34, #DE3B75);
  color: #fff;
  font-weight: bold;
  border-radius: 0px 50px 50px 0px;
  padding: 12px 30px 10px 30px;
}

#search .close {
  position: fixed;
  top: 23px;
  right: 100px;
  color: #fff;
  opacity: 1;
  font-size: 24px;
  height: 30px;
  width: 30px;
  background-image: url(imgs/close.png);
  background-repeat: no-repeat;
}

section {}

.testbaner {
  background: #f00;
  height: 500px;
}


/*HOME*/


/*Slider*/

.cycloneslider-caption-title {
  text-align: center;
}


/*Slider Sides*/

.rightbox {
  width: 100%;
  height: 520px;
  padding: 30px;
  background: #fff;
}

.rightbox-title {
  padding-bottom: 20px;
  text-align: center;
}

.rightbox-title span {
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 16px;
  padding: 0 0px 10px 0px;
  border-bottom: solid 1px #333;
  letter-spacing: 2px;
}

.rightbox-card {
  margin-bottom: 20px;
}

.rightbox-card:hover {}

.rightbox-readtime {
  border-radius: 0px;
  text-align: center;
  ;
  margin: 0px;
}

.rightbox-readtime span {
  position: relative;
  bottom: 30px;
  background: #fff;
  padding: 5px 10px 0px 10px;
  font-size: 12px;
  color: #848F91;
  font-weight: normal;
}

.rightbox-card img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.rightbox-card h1 {
  margin: 0px 0px 0px 0px;
  line-height: 1.4;
  text-align: center;
}

.rightbox-card h1 a {
  font-size: 14px;
  font-weight: bold;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  color: #333;
}

.rightbox-info {
  margin: 15px 0px;
  font-size: 12px;
  color: #848F91;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.rightbox-cat {
  color: #333;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
  text-align: center;
}

.rightbox-cat a {
  color: #333;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
}

.rightbox-cat a:hover {
  border-bottom: solid 1px #333;
  transition: border-bottom 0s linear !important;
}

.rightbox-date {
  color: #848F91;
  font-size: 12px;
  text-align: center;
}

.lefttbox {
  width: 100%;
  /* height: 520px; */
}

.lefttbox-title {
  padding-bottom: 15px;
}

.lefttbox-title span {
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 16px;
  padding: 0 0px 10px 0px;
  border-bottom: solid 1px #333;
  letter-spacing: 2px;
}

.lefttbox-card {
  margin-bottom: 25px;
}


/*.lefttbox-card:hover { opacity: 0.7; transition: opacity border-bottom 0.5s linear;}*/

.lefttbox-card h1 {
  margin: 5px 0 0 0;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.lefttbox-card h1 a {
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  color: #333;
}

.lefttbox-readtime {
  border-radius: 0px;
  text-align: left;
  margin: 0px;
}

.lefttbox-readtime span {
  font-size: 11px;
  color: #848F91;
  font-weight: normal;
}

.lefttbox-date {
  color: #333 !important;
  font-size: 12px;
  text-align: center;
}

.lefttbox-card h1 a:hover {
  color: #000;
  transition: auto;
  text-decoration: none;
}

.fullwith-slider {
  width: 100%;
  background: #fbfbfb;
  margin: 0px;
  padding: 30px 0 40px 0;
}

.fullwith-original {
  width: 100%;
  background: #fbfbfb;
  margin: 0px;
  padding: 40px 0 0px 0;
}

.fullwith-white {
  width: 100%;
  background: #fff;
  margin: 0px;
  padding: 40px 0;
}

.fullwith-black {
  width: 100%;
  background: #fff;
  margin: 0px;
  padding: 40px 0;
}

.fullwith-original-cat {
  width: 100%;
  background: #fbfbfb;
  margin: 0px;
  padding: 0px 0 0px 0;
}

.title-p {
  text-align: left;
  padding: 0 0 20px 0;
}

.r-title {
  font-family: BPG Mrgvlovani Caps;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 1px solid;
}

.r-line {
  color: #999;
  font-size: 12px;
  position: relative;
  bottom: 2px;
  left: 10px;
}

.r-link-more {
  position: relative;
  bottom: 2px;
  left: 20px;
}

.r-link-more a {
  color: #999;
  font-size: 12px;
}

.r-link-more a i {
  color: #999;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.r-link-more a:hover {
  color: #000;
}

.r-link-more a:hover i {
  color: #000;
}


/*Card*/

.tcard {
  margin-bottom: 40px;
  height: auto;
}

.tcard:hover {}

.creadtime {
  border-radius: 0px;
  text-align: right;
  margin: 0px;
}

.creadtime span {
  position: relative;
  bottom: 30px;
  background: #fff;
  padding: 5px 10px 0px 10px;
  font-size: 12px;
  color: #848F91;
  font-weight: normal;
}

.tcard img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.tcard h1 {
  margin: 0px 20px 20px;
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.tcard h1 a {
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  color: #333;
}



.cinfo {
  margin: 15px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 2;
  max-height: 80px;
}

.ccat {
  color: #333;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
  text-align: center;
}

.ccat a {
  color: #333;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
}

.ccat a:hover {
  transition: 0.1s linear !important;
  color: #ED3A53;
  text-decoration: none;
}

.cdate {
  color: #848F91;
  font-size: 12px;
  text-align: center;
}

.ccard {
  margin-bottom: 40px;
  background: #fff;
  height: 340px;
  border-bottom: solid 2px #EAEDEC;
}

.ccard:hover {
  opacity: 0.7;
  transition: opacity border-bottom 0.5s linear;
  border-bottom: solid 2px #ED3A53;
}

.ccard img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.ccard h1 {
  margin: 0px 20px 20px;
  line-height: 1.4;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.ccard h1 a {
  font-size: 14px;
  font-weight: bold;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  color: #333;
}

.ccdate {
  color: #848F91;
  font-size: 12px;
  text-align: center;
}


/*SINGLE*/

.singlewrap {
  padding: 0 0 0 0;
}

::selection {
  background: #DE2F23;
  color: #ffffff;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #DE2F23;
  color: #ffffff;
  /* Gecko Browsers */
}

.stitle {
  font-size: 28px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  color: #333;
  font-weight: bold;
  letter-spacing: -0.1px;
}

.sinfo {
  border-bottom: solid 0px #e1e1e1;
  margin-top: 0px;
  padding: 10px 0 15px 0;
}

.scat {
  color: #ED3A53;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
}

.scat a {
  color: #ED3A53;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 15px;
}

.scat a:hover {
  /*border-bottom: solid 1px #ED3A53;*/
  transition: border-bottom 0s linear !important;
  text-decoration: none;
  color:
  #DD344C;
}

.text-right {
    text-align: right!important;
    align-self: center;
}

.sdate {
  color: #848F91;
  font-size: 12px;
  bottom: 2px;
  position: relative;
}

.sreadtime {
  font-size: 12px;
  color: #333;
  font-style: normal;
}

.ssocialshare {
  margin: 0 0 20px 0;
}

.simg img {
  width: 100%;
  background: #fff;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

li.current-menu-item a {
    color: #dc4e56;
}

.stext-bg {
  background: #fff;
}

.stext {
  color: #333;
  font-size: 16px;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  line-height: 1.7;
}

.stext p {
  margin-bottom: 20px;
  color: #333;
  font-size: 16px;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.stext h1 {
  font-size: 24px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

.stext h2 {
  font-size: 22px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

.stext h3 {
  font-size: 20px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

.stext h4 {
  font-size: 18px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

.stext h5 {
  font-size: 16px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

.stext h6 {
  font-size: 14px;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  margin: 40px 0px 20px 0px;
  font-weight: bold;
}

.stext ul,
ol {
  margin: 0 20px;
}

.stext ul li ul,
ol li ol {
  margin: 0px 20px;
}

.stext ul li,
ol li,
ul li ul li,
ol li ol li {
  margin-bottom: 10px;
}

.stext a {
  font-size: 16px;
  color: #045BD0;
}

.stext a:hover {
  border-bottom: solid 1px #045BD0;
  transition: border-bottom 0s linear !important;
}

.singlewrap img {
  width: 100% ;
  height: auto;
  margin: 10px 0px 30px 0px;
}

figcaption {
  font-weight: normal;
  text-align: center;
  background: #F1F3F5;
  position: relative;
  bottom: 30px;
  padding: 10px;
  color: #777;
  font-size: 12px;
}

figcaption a {
  font-size: 12px !important;
}

.tags {
  padding: 20px 0 50px 0;
  border-top: solid 1px #F1F3F5;
  margin-top: 30px;
}

.tags span {
  color: #333;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.tags a {
  color: #333;
  font-size: 12px;
  line-height: 2.5;
  background: #F1F3F5;
  margin: 0 5px 10px 0;
  padding: 3px 10px;
  border-radius: 3px;
}

.tags a:hover {
  color: #eee;
  background: #333;
}

.wp-block-gallery li {
  list-style: none;
}


/*related-posts*/

.relatedpostsfullwith {
  background: linear-gradient(0deg, #ffffff, #F1F3F5);
  margin-top: 50px;
}

.relatedposts-title-p {
  text-align: center;
  padding: 50px 0;
}

.relatedposts-title {
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 14px;
  padding: 20px 0px 10px 0px;
  border-bottom: solid 1px #ED3A53;
  letter-spacing: 2px;
}

.related-card {
  margin-bottom: 150px;
  background: #fff;
  height: 350px;
  box-shadow: 3px 4px 15px 1px rgba(0, 0, 0, 0.1);
}

.related-card:hover {
  opacity: 0.7;
  transition: opacity border-bottom 0.5s linear;
}

.related-readtime {
  border-radius: 0px;
  text-align: right;
  margin: 0px;
}

.related-readtime span {
  position: relative;
  bottom: 30px;
  background: #fff;
  padding: 5px 10px 0px 10px;
  font-size: 12px;
  color: #848F91;
  font-weight: normal;
}

.related-card img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.related-card h1 {
  margin: 0px 20px 20px;
  line-height: 1.2;
  text-align: center;
}

.related-card h1 a {
  font-size: 14px;
  font-weight: bold;
  font-family: "BPG Mrgvlovani", sans-serif !important;
  color: #333;
}

.related-info {
  margin: 15px 20px;
}

.related-cat {
  color: #333;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
  text-align: center;
}

.related-cat a {
  color: #333;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  font-size: 12px;
}

.related-cat a:hover {
  border-bottom: solid 1px #ED3A53;
  transition: border-bottom 0s linear !important;
}

.related-date {
  color: #848F91;
  font-size: 12px;
  text-align: center;
}


/*User Info*/

.userinfo {}

.userinfo img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.userinfo span.username {
  position: relative;
  bottom: 10px;
}

.userinfo span.username a {
  font-size: 12px;
  color: #848F91;
  border-bottom: solid 1px #CBCDCE;
}

.userinfo span.username a:hover {
  border-bottom: solid 0px #CBCDCE;
}

.nextprevbox {
  background: #F1F3F5;
  padding: 20px 20px 0px 20px;
  margin-bottom: 40px;
}

.nextprevbox p {
  border-bottom: solid 1px #ccc;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
}

.npbox {}

.npbox img {
  width: 60px;
  height: auto;
  margin-right: 10px;
  float: left;
}

.npbox a span {
  position: relative;
  top: 5px;
  line-height: 0.3!important;
}

.npbox a {
  font-size: 12px;
  color: #808080;
}


/*SIDEBAR*/

.sidebar-newposts {
  margin-bottom: 30px;
}

.sidebar-newposts img {
  width: 100%;
  height: auto;
}

.sidebar-newposts h4 {
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  color: #333;
  font-size: 14px;
  margin-top: 10px;
}


/*SEARCH*/

.no_search_res {
  text-align: center;
  margin: 100px auto;
}

.no_search_res i {
  font-size: 48px;
  color: #999;
  margin-bottom: 20px;
}

.no_search_res p {
  text-align: center;
  font-size: 16px;
  color: #999;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
}

.scroll-back-to-top-wrapper {
  background: linear-gradient(90deg, #EE4D34, #DE3B75);
}


/*--------PAGINATION-------------------------*/

.wp-paginate {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.wp-paginate li {
  display: inline;
  list-style: none;
}

.wp-paginate ol li a {
  background: #fff;
  border: 0px solid #dee5e8;
  color: #222;
  margin-right: 4px;
  padding: 6px 12px 4px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  font-family: "BPG Mrgvlovani", sans-serif;
}

.wp-paginate ol li a:hover,
.wp-paginate a:active {
  background: linear-gradient(90deg, #EE4D34, #DE3B75);
  color: #fff;
}

.wp-paginate .title {
  color: #555;
  margin-right: 4px;
}

.wp-paginate .gap {
  color: #999;
  margin-right: 4px;
}

.wp-paginate ol li .current {
  color: #fff;
  background: linear-gradient(90deg, #EE4D34, #DE3B75);
  border: 0px solid #1A99AA;
  margin-right: 4px;
  padding: 6px 12px 4px 12px;
  border-radius: 100px;
}

.wp-paginate .page {}

.wp-paginate .prev,
.wp-paginate .next {}


/*FOOTER*/

footer {
  background: #141414;
  width: 100%;
  box-shadow: -5px -5px 20px 1px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  position: relative;
  bottom: 0;
}

.slogan {
  font-size: 14px;
  font-weight: bold;
  color: #ED3A53;
  margin-top: 10px;
}

.fbox {
  padding: 30px 0;
  align-self: center;
}

.fbox img {
  width: 110px;
  height: 70px;
  opacity: 0.9;
}

.fbox-title {
  font-size: 14px;
  color: #fff;
  font-family: "BPG Mrgvlovani Caps", sans-serif !important;
  border-bottom: solid 0px #333;
}

.fbox ul {
  margin: 0px;
  padding: 0px;
}

.fbox ul li {
  list-style: none;
  color: #616161;
  font-size: 13px;
  display: inline-block;
  margin-right: 7px;
}

.fbox ul li a {
  color: #616161;
  font-size: 13px;
}

.fbox ul li a:hover {
  color: #fff;
}

.social-footer {
  margin-top: 20px;
  margin-right: 30px;
}

.social-footer ul {
  padding: 0px;
}

.social-footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.social-footer ul li a i {
  font-size: 20px;
  color: #616161;
}

.social-footer ul li a i:hover {
  color: #ED3A53;
}

.copyright {
  color: #616161;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  border-top: solid 1px #222;
}

.copyright span {
  color: #616161;
  margin: 0 5px;
}

.copyright i {
  color: #ED3A53;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ed3a53;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.side-menu {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: 14px;
  padding: 0 10px;
}

.slide-menu-logo {
  width: 100%;
  max-width: 200px;
  margin: 35px 0;
}

#menu-header-menu {
  list-style: none;
  display: inline-block;
  padding: 0px 2% 0px 1%;
  margin: 22px 0px 3px 0px;
  font-weight: bold;
}

.last-news-image {
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  margin-right: 30px;
  flex-shrink: 0;
  border-radius: 37px;
  position: relative;
  object-fit: cover;
}

.last-news-meta {
  font-size: 11px;
}

.popular-box {
  width: 100%;
}

.popular-image {
  height: 400px;
  object-fit: cover;
}

.card {
  border: none!important;
  border-radius: none !important;
  background: #fbfbfb!important;
}

.popular-box-title {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
}

.popular-box-title:hover {
  color: #000;
  transition: auto;
  text-decoration: none;
}

.header-logo {
  max-width: 150px;
  margin-top: 30px;
}

.logo-top {
  background: #fff;
  overflow: hidden;
}

.tcard h1 a:hover {color: #000;transition: auto;text-decoration: none;}

.cat-lines {
  display: block;
  -webkit-box-shadow: inset 0 -3px 0 0 #333;
  box-shadow: inset 0 -3px 0 0 #333;
  height: 4px;
  position: relative;
  bottom: 14px;
}

.read-more-button {
  background: #ed3a53;
  color: white;
  border-radius: 300px;
  padding: 10px 17px;
}

.read-more-button:hover {
  color: white;
}

.read-more-area {
  margin-top: 30px;
}

.left-video-box {
  width: 100%;
}

.video-news-image {
  width: 70px;
  height: 70px;
  margin-bottom: 0;
  margin-right: 30px;
  flex-shrink: 0;
  position: relative;
  object-fit: cover;
}

.see-video {
  display: flex;
  place-content: center;
}

.video-block-meta {
  font-size: 11px;
  padding-left: 35px;
  padding-top: 15px;
}

.card-text {
  padding: 10px 0;
}

.newsletterlab {
  display: flex !important;
  width: 47% !important;
  float: left;
  top: 16px;
  position: relative;
  left: 2px;
  margin-left: 25px;
  z-index: 0;
  border: 1px solid white !important;
}

#newsletterbutton {
  color: #fff!important;
  background-color: #ed3a53 !important;
}

.newsletter {
  color: white;
}

.newsletter span {
  font-size: 10px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.07em;
  font-weight: 600 !important;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer-menu {
  margin-top: 20px;
}

.wp-user-avatar {
  border: 1px solid #ec3c4d;
  border-radius: 50%;
  object-fit: cover;
  max-width: 77px;
  width: 100% !important;
  display: flex;
  height: 77px !important;
  margin: 0 0 10px !important;
}

.userimg {
  display: flex;
  justify-content: center;
}

.username {
  justify-content: center;
  display: flex;
}

.username>a {
  color: #4c4c4c;
  font-size: 10px;
  font-family: BPG Mrgvlovani Caps;
}

.username > a:hover {
  color:#ED3A53;
  text-decoration: none;
}



.user-desc {
  font-size: 9px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.simg {
  margin-bottom: 50px;
}

.box-social {
  padding: 10px;
  display: inline-block;
  width: 50px;
  text-align: center;
  margin: 5px;
  border: 1px solid #f1f1f1;
  color: #616161;
}

.box-social:hover {
  color: #ffffff;
  background: #ec3c4d;
}

.social-share {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#related-posts {
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 120px;
  object-fit: cover;
}

#related-post-title {
  color: #4c4c4c;
  font-family: BPG Mrgvlovani Caps;
  font-size: 11px;
}

#related-meta>a {
  color: #ec3c4d;
  font-family: BPG Mrgvlovani Caps;
  font-size: 13px;
}

#related-meta>span {
  color: #6161614f;
  font-family: BPG Mrgvlovani Caps;
  font-size: 13px;
}

.side-title {
  font-family: BPG Mrgvlovani Caps;
  font-size: 14.6px;
  margin-bottom: 20px;
  font-weight: bold;
}

.mc4wp-form-fields:hover {
  transition: 0.2s linear;
}

.stext::first-letter {
  color: #ec3c4d;
  font-weight: bold;
  font-size: 70px;
  line-height: 0;
  float: left;
  margin: 25px 10px 40px 0;

}
#author-info {
  flex-direction: column;
  margin-bottom: 30px;
}


.author-avatar {
  display: flex;
  justify-content: center;
}

.author-avatar img {
  border-radius: 50%;
  max-width: 70px;
  max-height: 70px;
}

.author-name {
  display: flex;
  justify-content: center;
}

.author-name p{
}

.author-bio {
  display: flex;
  justify-content: center;
}

.author-bio p{
  width: 50%;
}

.social-button-holder {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  cursor: pointer;
}

.social {
  background: #fff;
  justify-content: flex-end;
  display: inline-flex;
  align-items: center;
  height: 45px;
  padding: 0 20px;
  width: 100%;
}

.thb-social-footer-buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
  background: #f6f6f6;
  padding: 20px;
}

.thb-social-icon {
  color: #2a2a2a;
}

.social-facebook:hover {
  background: #4267b2;
}

.thb-social-icon:hover {
  color: white;
}

.social-twitter:hover {
  background: #00aced;
}

.social-pinterest:hover {
  background: #bd081c;
}

.social-linkedin:hover {
  background: #017ab4;
}


#slider_desc {
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 2;
  max-height: 50px;
}


@media screen and (max-width: 990px) {



  .social ul li {
    padding: 15px 5px 0px 0px !important;
  }

  nav ul li a {
    font-size: 14px !important;
  }
  .social ul li a i {
    font-size: 14px !important;
  }
}


@media screen and (min-width: 990px) {

  .social ul li {
    padding: 22px 7px 0px 0px !important;
  }

  nav ul li a {
    font-size: 12px !important;
  }
  .social ul li a i {
    font-size: 16px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  #social-footer {
    justify-content: center !important;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 15px;
  }
  #footer-menu {
    display: none;
  }
  .social-footer {
    margin-right: -30px;

  }
  .sidebar {
    display: none;
  }
}

#author-circle {
  color: #de4f54;
}

@media screen and (min-width: 1336px) {


  .social ul li {
    padding: 22px 13px 0px 0px !important;
  }

  nav ul li a {
    font-size: 14px !important;
  }
  .social ul li a i {
    font-size: 17px !important;
  }
}

#post-author {
  display: none;
}

#social-footer {
  display: flex;
  justify-content: flex-end;

}
#soc {
  justify-content: flex-start;
}

.overlaysm {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
/*   transition: .3s ease; */
/*   background-color: red; */
}
	
.iconsm {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
	
.iconsm:hover {
  color: #dc4d57;
 
}

.overlay {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
/*   transition: .3s ease; */
/*   background-color: red; */
}
	
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
	
 .icon:hover {
  color: #dc4d57;
 
}

#video-title {
  padding: 15px 0;
}